name: Release Publisher

on:
  release:
    types: published

jobs:
  publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Download assets from this Release
        uses: ViliusSutkus89/release-asset-downloader@v1.0.3
        with:
          outputDirectory: 'releaseAssets'

      - name: Put release assets where gradle would have kept it after the build
        run: |
          mkdir --parents ./pdf2htmlEX/build/outputs/aar
          mv ./releaseAssets/pdf2htmlex-android-release.aar ./pdf2htmlEX/build/outputs/aar/

          mkdir --parents ./pdf2htmlEX/build/libs
          mv ./releaseAssets/pdf2htmlex-android-*-javadoc.jar ./pdf2htmlEX/build/libs/
          mv ./releaseAssets/pdf2htmlex-android-*-sources.jar ./pdf2htmlEX/build/libs/

          mkdir ./dependency-builder/build
          mv ./releaseAssets/licenses.xml ./dependency-builder/build/

      - name: Upload to Bintray
        run: ./gradlew bintrayUpload -PbintrayUser=${{ secrets.BINTRAY_API_USER }} -PbintrayApiKey=${{ secrets.BINTRAY_API_KEY }}

  versionIncrementer:
    needs: publish
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: git checkout master

      - run: ./doincrementversion

      - name: git commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action - Version Incrementer"
          git remote set-url origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"

          git add pdf2htmlEX/build.gradle README.md android-sample-app/app/build.gradle

          if git commit -m "PostRelease version increment"
          then
            git push
          fi

  sampleApp:
    needs: versionIncrementer
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: git checkout master

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - run: |
          cd android-sample-app
          ./gradlew assembleDebug

      - name: Upload app-universal-debug.apk
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: android-sample-app/app/build/outputs/apk/debug/app-universal-debug.apk
          asset_name: app-universal-debug.apk
          asset_content_type: application/zip

      - name: Upload app-arm64-v8a-debug.apk
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: android-sample-app/app/build/outputs/apk/debug/app-arm64-v8a-debug.apk
          asset_name: app-arm64-v8a-debug.apk
          asset_content_type: application/zip

      - name: Upload app-armeabi-v7a-debug.apk
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: android-sample-app/app/build/outputs/apk/debug/app-armeabi-v7a-debug.apk
          asset_name: app-armeabi-v7a-debug.apk
          asset_content_type: application/zip

      - name: Upload app-x86-debug.apk
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: android-sample-app/app/build/outputs/apk/debug/app-x86-debug.apk
          asset_name: app-x86-debug.apk
          asset_content_type: application/zip

      - name: Upload app-x86_64-debug.apk
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: android-sample-app/app/build/outputs/apk/debug/app-x86_64-debug.apk
          asset_name: app-x86_64-debug.apk
          asset_content_type: application/zip

